/*swiper는 먹히는데 swiper 안에 SwiperSlide가 styled-component가 안먹혀서 이방법으로....*/

.swiper-slide-active {
  transform: scale(1.3) !important;
}

.swiper-slide-active div {
  width: 200px;
  color: black;
  font-weight: 900;
  justify-content: center;
}
