<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.riot.draft.mapper.TestMapper">

    <!--maria DB Test용 testDTO 와 TestMapper와 같이 삭제할 것-->
    <select id="selectTest" parameterType="String" resultType="String">
        SELECT
        name
        FROM
        newtable
        WHERE
        name =#{name}
    </select>



</mapper>